.container{
  margin: auto;
  width: 960px;
  display: flex;
  flex-direction: column;
}
.col-1{
  color: white;
  flex: 1;
  background-image: linear-gradient(to right ,rgb(32, 184, 32), rgb(15, 241, 15));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head .col-1 {
  /* border: 2px solid white; */
}
.head .col-1 .avatar{
  width: 100px;
  height: 150px;
  border-radius: 50px;
  border: 5px solid white;
  margin: 20px;
}

.head{
  display: flex;
  flex-direction: row;
}

.col-2{
  color: rgb(15, 241, 15);
  flex: 2;
  background-color: rgb(241, 250, 250); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col-1 .icon{
  width: 30px;
  height: 30px;
}

.col-1 .general_info{
  display: flex;
  flex-direction: column;
}

.col-1  .general_info .item_info{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.body{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 800px){
  .container{
    width: 350px;
  }
  .head, .body {
    flex-direction: column;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
